/* basics */

* {
  margin: 0;
  padding: 0;
}

html, body {
}

body {
  font: 14px/20px Georgia, "Times New Roman", Times, serif;
  color: #848484;
  min-width: 820px;
}

h1 {
  font-size: 41px;
  line-height: 50px;
  font-weight: normal;
  font-style: normal;
  color: #3c3c3c;
}

h2 {
  font-size: 27px;
  line-height: 30px;
  font-weight: normal;
  font-style: normal;
  color: #848484;
}

h3 {
  font-size: 27px;
  line-height: 30px;
  font-weight: normal;
  font-style: normal;
  color: #3c3c3c;
}

p {
  margin-bottom: 20px;
}

a {
  font-weight: bold;
}

a:link, a:visited {
  color: #3c3c3c;
  text-decoration: none;
}

a:link:hover, a:visited:hover {
  text-decoration: underline;
  color: #000;
}

/* about */

#about {
  width: 780px;
  padding: 70px 0 59px;
  margin: 0 auto;
  background: url(../images/line.png) repeat-x 0 bottom;
  overflow: hidden;
}

#about #story {
  font-size: 18px;
  line-height: 30px;
  float: left;
}

#about #story h1 {
  margin-bottom: 4px;
  margin-top: 2px;
}

#about #story h2 {
  font-size: 14px;
  line-height: 20px;
  font-style: italic;
  margin-bottom: 14px;
}

/* sections */

.section {
  width: 780px;
  margin: 0 auto;
  padding: 15px 0;
  background: url(../images/line.png) repeat-x 0 bottom;
  overflow: hidden;
}

.section h2 {
  float: left;
  padding-top: 0;
  line-height: 22px;
}

.section h3 {
  line-height: 22px;
  margin-bottom: 24px;
  font-style: italic;
}

.section h4 {
  font-weight: normal;
  font-style: normal;
  margin-bottom: 20px;
  margin-top: -20px;
}

.section .right {
  position: absolute;
  top: 6px;
  right: 0;
}

.section .item {
  width: 610px;
  padding-left: 40px;
  float: right;
  padding-top: 0;
  margin-bottom: 9px;
  position: relative;
  padding-bottom: 5px;
  background: url(../images/separator.png) no-repeat 0 bottom;
}

.section .description {
  width: 590px;
}

/* footer */

#footer {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* ribbon */

#ribbon {
  z-index: 1;
  width: 780px;
  line-height: 40px;
  text-align: center;
  position: fixed;
  left: 0;
  right: 0;
  margin: 0 auto;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  background: #79A70A;
  background: linear-gradient(#F70505 0%, #8F0808 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
}

@media screen and (max-width: 800px) {
  #ribbon {
    width: 100%;
  }
}
